<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:property name="PI" value="3.14159265359" />

  <ros2_control name="RobotSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <!-- Joint 1 -->
    <joint name="panda_joint1">
      <command_interface name="position">
        <param name="min">-2.9671</param>
        <param name="max">2.9671</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <!-- Joint 2 -->
    <joint name="panda_joint2">
      <command_interface name="position">
        <param name="min">-1.8326</param>
        <param name="max">1.8326</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-0.785</param>
      </state_interface>
    </joint>

    <!-- Joint 3 -->
    <joint name="panda_joint3">
      <command_interface name="position">
        <param name="min">-2.9671</param>
        <param name="max">2.9671</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <!-- Joint 4 -->
    <joint name="panda_joint4">
      <command_interface name="position">
        <param name="min">-3.1416</param>
        <param name="max">0.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-2.356</param>
      </state_interface>
    </joint>

    <!-- Joint 5 -->
    <joint name="panda_joint5">
      <command_interface name="position">
        <param name="min">-2.9671</param>
        <param name="max">2.9671</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>

    <!-- Joint 6 -->
    <joint name="panda_joint6">
      <command_interface name="position">
        <param name="min">-0.0873</param>
        <param name="max">3.8223</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">1.571</param>
      </state_interface>
    </joint>

    <!-- Joint 7 -->
    <joint name="panda_joint7">
      <command_interface name="position">
        <param name="min">-2.9671</param>
        <param name="max">2.9671</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.785</param>
      </state_interface>
    </joint>

    <!-- Gripper Finger Joint 1 -->
    <joint name="panda_finger_joint1">
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.04</param>
      </command_interface>
      <state_interface name="position"/>
    </joint>

    <!-- Gripper Finger Joint 2 (Mimics Joint 1) -->
    <joint name="panda_finger_joint2">
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.04</param>
      </command_interface>
      <state_interface name="position"/>
    </joint>

  </ros2_control>

</robot>